__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
.venv/
venv/
.env
.env.*
*.so
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.tox/
.nox/
